# MCS 275 Python tour - Spring 2021 - David Dumas

This is a quick tour of Python syntax and features that students can use as a reference.  It isn't completely systematic, and it doesn't include everything, but is meant to provide a way to refresh your memory of some of the most important Python features in preparation for the new material in MCS 275.  The optional course texts or the slides from [MCS 260](https://dumas.io/teaching/2020/fall/mcs260/index.html) provide more detailed information.

# Contents

* [Scripts vs REPL vs notebooks](#Scripts-vs-REPL-vs-notebooks)
* [Variables, assignment, basic types](#Variables,-assignment,-basic-types)
* [Arithmetic](#Arithmetic)
* [Operations on strings](#Operations-on-strings)
* [Boolean expressions and logic](#Boolean-expressions-and-logic)
* [Numeric conversions](#Numeric-conversions)
* [String conversions](#String-conversions)
* [Useful features of strings](#Useful-features-of-strings)
* [Printing stuff](#Printing-stuff)
* [List basics](#List-basics)
* [List slices](#List-slices)
* [List conversion and membership testing](#List-conversion-and-membership-testing)
* [Other useful list features](#Other-useful-list-features)
* [String indexing](#String-indexing)
* [Dictionaries](#Dictionaries)
* [Conditionals (if-else-elif)](#Conditionals-(if-else-elif))
* [Loops](#Loops)
* [Files](#Files)

## Scripts vs REPL vs notebooks

You can run the python interpreter using the interpreter name, usually `python` or `python3`.  It waits for commands to run, and prints the result of each one.  This is the REPL.

You can run a whole file of Python code using `python FILENAME.py` or `python3 FILENAME.py` (depending on the interpreter name).

This document is a notebook, which is more like the REPL.  Pieces of code appear in *cells*, and the value of the last expression in the cell is printed in the output.  We'll talk about notebooks more in a future MCS 275 lecture.  At the beginning, you can just treat this as a nicely formatted mix of text, code, and output.

## Variables, assignment, basic types

In [1]:
# Create a variable by assignment.  No separate declaration needed.
x = 5

# What's the value of x now?
x

5

In [2]:
# Change the value of x a few times; it can change types at any time
x = 10 # an integer
x = 3.25 # a float
x = True # a boolean
x = None # None (the null value)
x = "hello" # a string

In [3]:
# Some integers
1234
1_000_000 # one million (_ is a separator that is ignored, like a comma)
0x1e # hexadecimal
0b1001 # binary
# only the last value in a cell appears in the output, so you should see 9 = 0b1001 below

9

In [4]:
# Some floats
0.01
-1.3
3e6 # three million.  "e" is for exponent, means 3 * 10**6

3000000.0

In [5]:
# The only possible values of a boolean.  Note capitalization
True
False

False

In [6]:
# The only value of type `nonetype` is None.  It is used as a "null", a signal of the absence of something.
# Displaying a None in the REPL doesn't display anything at all, so this cell has no output
None

In [7]:
# Some strings.  Can use " or ' for single-line strings, or """ or ''' for multi-line strings
"2021"  # This isn't a number!  It is in quotes, so it is a string
"It was the best of times"
'It was the worst of times'
"""It was time for MCS 275 lecture
but I didn't zoom installed on my
laptop."""

"It was time for MCS 275 lecture\nbut I didn't zoom installed on my\nlaptop."

## Arithmetic

In [8]:
# addition
2+2

4

In [9]:
# multiplication
7*8

56

In [10]:
# division yields a float, even if the result is an integer
6/2

3.0

In [11]:
# exponentiation is **, and not ^ which is used for this in some other languages
2**5

32

The order of operations follows the mnemonic PEMDAS:
* Parentheses
* Exponents
* Multiplication and division (left to right)
* Addition and subtraction (left to right)

In [12]:
# modulus (remainder upon division) is %
1271845 % 7  # This number is one more than a multiple of 7

1

## Operations on strings

In [13]:
# Join two strings
"hello" + " world"

'hello world'

In [14]:
# Repeat a string many times using multiplication
"n" + ( "o"*30 )

'noooooooooooooooooooooooooooooo'

## Boolean expressions and logic

In [15]:
# Compare numbers with <, >, =, <=, >=
1 < 5

True

In [16]:
27 >= 27

True

In [17]:
27 > 27

False

In [18]:
# Equality is tested with ==
8 == 9

False

In [19]:
# Strings compare by dictionary order, with < meaning earlier in dictionary
"aardvark" < "abalone"

True

In [20]:
"skunk" < "shark"

False

In [21]:
# Capital letters come before lower case letters in this dictionary
"Zebra" < "airplane"

True

## Numeric conversions

In [22]:
# Convert a string to an integer
int("1500")

1500

In [23]:
# Convert string to integer, using a base other than 10
int("1001",2) # base 2 = binary, so we get 0b1001 = 9

9

## String conversions

In [24]:
# Convert anything to a string with str()
# Not often needed.  But for example you could use this to 
# get the digits of an integer, since a string lets you
# access individual characters
str(239.1)

'239.1'

In [25]:
str(False)

'False'

In [26]:
str([2,7,5])  # Lists are formatted with spaces after the commas

'[2, 7, 5]'

## Useful features of strings

In [27]:
s = "Hello"
# Convert to upper case (returns the converted value, doesn't change s)
s.upper()

'HELLO'

In [28]:
# Convert to lower case
s.lower()

'hello'

In [29]:
# Test for prefix
s.startswith("He")

True

In [30]:
# Test for suffix
s.endswith("llo")

True

In [31]:
# "string in string" tests for the presence of a substring
"car" in "racecar"

True

In [32]:
"aaa" in "banana"

False

In [33]:
# String formatting: .format(value, value, ...) formats the values and puts them into the string where
# there are placeholders

# Basic usage
"I wish I had a pet {} so they could eat {} {}".format("mouse",16,"seeds")

'I wish I had a pet mouse so they could eat 16 seeds'

In [34]:
# Placeholders can have numbers to indicate which of the arguments they should take
"First you put on your {1}, and THEN you put on your {0}".format("shoes","socks")

'First you put on your socks, and THEN you put on your shoes'

In [35]:
# Floating point placeholders can have a formatting directive in the format :X.Yf
# where X,Y are integers. The number will be formatted to have a width of at least X characters,
# Y of them after the decimal point.  X is optional.
"I am {:3.2f} percent sure of it".format(75.12345)

'I am 75.12 percent sure of it'

In [36]:
"Rounding to tenths we find that pi is approximately {:.1f}".format(3.14159265359)

'Rounding to tenths we find that pi is approximately 3.1'

## Printing stuff

In [37]:
# Display a message in the terminal
print("Hello world")
# Note: This statement doesn't return a value!

Hello world

In [38]:
# Can print multiple values.  They'll be separated by spaces, by default
print("What if I told you that MCS",275,"was fun?")
# print() can handle every built-in type
print("Here is a list:",[5,4,3,1])

What if I told you that MCS 275 was fun?
Here is a list: [5, 4, 3, 1]

In [39]:
# print() puts a newline at the end by default
# This can be disabled
print("ba",end="")   # no newline after this one
print("nana")

banana

## List basics
Lists are mutable ordered collections of elements accessible by integer index.  They are similar to arrays in other languages.

In [40]:
# Lists are written with square brackets and commas
[2,7,5]

[2, 7, 5]

In [41]:
# Can have different types
L = [ 1, "fish", 2, "fish", False, True, False, None, 5.25, "last"]

In [42]:
# Access elements of a list using brackets with 0-based index.
L[0]

1

In [43]:
L[3]

'fish'

In [44]:
# Negative index means count from the end of the list, with -1 meaning last element
L[-1]

'last'

## List slices

In [45]:
# Select a contiguous sublist using [start_idx:end_idx]
# Includes the element at start_idx, but not end_idx
# This is an example of a "slice"
L[2:5]  # Has 5-2 = 3 elements

[2, 'fish', False]

In [46]:
# Slices that extend past the end of the list don't produce an error
L[5:100000]  # Elements 5 to 99999 requested, but we get 5 to 9

[True, False, None, 5.25, 'last']

In [47]:
# Slices start at the beginning if the start index is missing
L[:3] # first three elements

[1, 'fish', 2]

In [48]:
# Slices end at the end if the end index is missing
L[3:] # everything but the first three elements

['fish', False, True, False, None, 5.25, 'last']

In [49]:
# You can specify that a slice should use a step size other than 1
L[::2]  # Every other element, starting at index 0

[1, 2, False, False, 5.25]

In [50]:
L[1::2]  # Every other element, starting at index 1

['fish', 'fish', True, None, 'last']

## List conversion and membership testing

In [51]:
# Convert a string to a list to get a list of its characters
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [52]:
# Checking whether an item is an element of a list
5.25 in L

True

In [53]:
2 in L

True

In [54]:
"ball" in L

False

## Other useful list features

In [55]:
courses_taken = [ 260, 275 ]
# Add an element at the end with push
courses_taken.append(320)
# Note: It doesn't return anything, it just modifies the list

In [56]:
# What's in the list now?
courses_taken

[260, 275, 320]

In [57]:
# Change one element using item assignment
courses_taken[0] = 261  # oops, change first element to 261

In [58]:
courses_taken

[261, 275, 320]

In [59]:
# Remove and return the last element of a lsit
courses_taken.pop()

320

In [60]:
# Notice the missing 320
courses_taken

[261, 275]

In [61]:
# Find an element, or raise an exception if it isn't there
courses_taken.index(275)
# Returns 1, meaning it was first found at index 1

1

In [62]:
# insert an element at a specific position
# e.g. 0 = at the beginning, -1 = at the end
courses_taken.insert(0,401)
courses_taken

[401, 261, 275]

In [63]:
# Sort a list in place
courses_taken.sort() # note lack of any return value

In [64]:
# But after the previous command, the list is now sorted
courses_taken

[261, 275, 401]

## String indexing

In [65]:
# Strings also support integer indices and slices to get characters or substrings
"banana"[0]

'b'

In [66]:
"banana"[2:4]

'na'

In [67]:
"banana"[1::2]  # every other letter

'aaa'

In [68]:
# Reverse a string
"banana"[::-1]

'ananab'

## Dictionaries
Map keys to values.  Keys can be of various types (but some restrictions, e.g. lists cannot be keys).  Values can be arbitrary types.  Written with {} and : to separate key from value.

In [69]:
# Create a dictionary and bind the name "d" to it
d = { "department": "MSCS", "building": 631, "phd_granting": True}

In [70]:
# Access the value associated with a key
d["department"]

'MSCS'

In [71]:
# Add a new key-value pair to the dictionary
d["college"] = "LAS"

In [72]:
# Test if a KEY is present
"building" in d

True

## Conditionals (if-else-elif)

In [73]:
if 5 > 7:
    print("5 is larger")
else:
    print("7 is larger")

7 is larger

In [74]:
x = 15
if x % 6 == 0: 
    print(x,"is divisible by 6")
elif x % 3 == 0:
    print(x,"is divixible by 3, but is NOT divisible by 6")
else:
    print(x,"is not divisible by 3 (and so not by 6 either)")

15 is divixible by 3, but is NOT divisible by 6

In [75]:
s = "carpeting"
if "pet" in s:
    print(s,"contains pet as a substring")
    print("In fact, it appears at index",s.find("pet"))

carpeting contains pet as a substring
In fact, it appears at index 3

## Loops

In [76]:
# Find a power of 2 that has 7 as a digit
n = 1
while "7" not in str(2**n):
    n = n + 1
print("Found it: The number 2**{} = {} has 7 as a digit".format(n,2**n))

Found it: The number 2**15 = 32768 has 7 as a digit

In [77]:
# Take each element of a list and print it
available_drinks = ["coffee","tea","juice"]
for drink in available_drinks:
    print("Available drink:",drink)

Available drink: coffee
Available drink: tea
Available drink: juice

In [78]:
# Take each key of a dictionary and do something with it
dept_data = { "department": "MSCS", "building": 631, "phd_granting": True}
for field in dept_data:
    print("{} = {}".format(field,dept_data[field]))

department = MSCS
building = 631
phd_granting = True

In [79]:
# Dictionaries support retrieving key,value pairs
# which can be unpacked into two variables in a loop
for field,value in dept_data.items():
    print("{} = {}".format(field,value))

department = MSCS
building = 631
phd_granting = True

In [80]:
# Break out of a loop early with `break`
L = [ 1, 2, 4, 8, 16, 32, 64, 128, 256, 512 ]
for x in L:
    if "5" in str(x):
        # if we hit an integer containing digit 5, we stop the loop
        break
    print(x)

1
2
4
8
16
32
64
128

## Files
Be careful: It's dangerous to run file-related commands, because they can delete or overwrite existing files.

In [81]:
# Open a new file (delete if it exists already) for writing
output_file = open("output.txt","wt") # wt = write, text (not binary) file
# Write some text to it.  Note need to add our own newlines.
output_file.write("Hello.\n")
output_file.write("This is a text file.\n")
output_file.write("That is all.\n")
# Close the file (writes may not actually happen until now)
output_file.close()

In [82]:
# Open the file created above, for reading
input_file = open("output.txt","rt")
# Get everything in the file as a single string
s = input_file.read()
input_file.close()

# Now print what we read from the file
print(s)

Hello.
This is a text file.
That is all.

In [83]:
# Process lines of that file one by one
input_file = open("output.txt","rt")

for line in input_file:
    print("I just read one more line from the file.  The contents are:")
    print(line,end="")  # line will already have a newline, most likely
    print("This line of the file has {} characters\n".format(len(line)))

input_file.close()

I just read one more line from the file.  The contents are:
Hello.
This line of the file has 7 characters

I just read one more line from the file.  The contents are:
This is a text file.
This line of the file has 21 characters

I just read one more line from the file.  The contents are:
That is all.
This line of the file has 13 characters

In [84]:
# Reading is a one-time operation.  Trying to read file contents twice
# gives no data the second time.
input_file = open("output.txt","rt")
s1 = input_file.read()  # Read everything, after which we're at the end of the file
s2 = input_file.read()  # Reads nothing, already at the end of the file
input_file.close()

print("The first time I read from the file I got:")
print(s1)
print("-"*70)
print("The second time I read from the file I got:")
print(s2)  # will print nothing, because we read nothing

The first time I read from the file I got:
Hello.
This is a text file.
That is all.

----------------------------------------------------------------------
The second time I read from the file I got: